nav a{
    font-family: 'fantasy', papyrus;
    float: left;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover, nav a:focus{
    display: block;
    background-color: rgb(98, 98, 98);
    transition: background-color 0.7s ease;
}
ul {
    display: flex;
}

nav li{
    list-style: none;
}

#current a{
    color: rgb(170, 181, 254);
}

body{
    background-image: url("../pictures/thekidsblue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

 h6{
    position: relative;
    top: 50px;
    opacity: 1;
    color: white;
}

 h5{
    font-family: sans-serif, Optima;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 200px;
}

h5 a{
    color: rgb(193, 193, 193);
}

h1 {
    font-family: sans-serif, Optima;
    font-size: 40px;
    color: white;
    
}

form {
    font-family: sans-serif, Optima;
    font-size: 20px;
    color: white;
}

#emailInfo{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5rem;
}

h3, p{
    color: white;
    margin-right: 3rem;
}