

nav a{
    font-family: 'fantasy', papyrus;
    display: flex;
    float: left;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

body{
    background-image: url(../pictures/snugShow.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(125, 125, 226);
}

body img{
    filter: invert(100%);
    width: 40%;
    margin-top: 3rem;
}

#logoImg{
    width: 100%;
    display: flex;
    justify-content: center;
}

#spotifyContent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 55rem;
}

iframe:first-child{
    padding-right: 10rem;
}

#instagram{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    float: left;
}

#youtube{
    margin-top: 12.5rem;
    float: right;
}


