/* Author: Jackson Reynolds */
body{
    background-color: black;
    background-image: url(../pictures/betsys2.JPG);
    background-repeat: no-repeat;
   background-size: cover;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}

.music-grid iframe {
  width: 100%;
  max-width: 500px;
}