/* Author: Jackson Reynolds */

body{
    background-image: url(../pictures/IMG_9430.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(71, 71, 72);
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    margin: 3rem;
    font-size: 5rem;
    text-shadow: 2px 2px black;
}

section{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    
}

section iframe{
    flex-basis: 25%;
    margin: 0 2rem 10rem 2rem;
}

section img{
    width: 45%;
    height: auto;
    margin-top: 10rem;
    margin: 10rem 3rem 0 1rem;
}

