/* Author: Jackson Reynolds */

body{
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-top: 3rem;
}

a{
    font-weight: bolder;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-basis: 33%;
}

img {
    width: 30%;
    margin: 2rem;
}

table {
    width:100%;
    border-collapse: collapse;
    margin: auto;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 3rem';
    }

th, td {
    padding: 1.4;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 1.4rem;
    }

tr:nth-child(even) {
    background: #fafafa;
}

tr:hover {
    background: #f1f1f1;
}

th {
    background: rgb(56, 74, 176);
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
}